body{
	font-family: Arial, Verdana, sans-serif;
	padding: 10px;
	margin-left: 200px;
	margin-right: 200px;
	margin-bottom: 15px;
}

h1{
	background-color: DarkCyan;
	color: white;
	padding: 10px;
}

h2.one{
	background-color: #ee3e80;
	color: white;
	padding: 5px;
}

.entry{
	margin-left: 10%;
	margin-right: 10%;
}